<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(255, 0, 191);">
    <center>
        <h1>
        <u>
            ACCESSRECORD TABLE DATA
        </u>
        </h1>
        <Table border="4px">
            <tr>
                
                <th style="color: aqua;">name</th>
                <th style="color: aqua;">author</th>
                <th style="color: aqua;">date</th>
            </tr>
                
            {% for i in AccessRecords %}
            <tr>
                    <td> {{ i.name }} </td>
                    <td> {{ i.author }} </td>
                    <td> {{ i.date }} </td>
                
            </tr>
            {% endfor %}

        

        </Table>
    </center>
    
</body>
</html>